.title {
    margin-top: 150px;
    margin-bottom: 0;
    font-size: 6em;
    color: #111;
}

.bookings {
    min-height: 80vh;
    padding: 150px 0;
    font-size: 1.5em;
    color: white;
}

.bookings .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookings__list {
    width: 100%;
    padding: 75px;
    background-color: #111;
}

.bookings__item {
    margin: 25px 0;
}

.bookings__booking {
    margin: 50px 0;
}

.bookings__confirm,
.bookings__trash {
    padding: 10px 25px;
    background-color: #fff;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 50px;
}

.bookings__confirm {
    background-color: green;
    color: white;
}

.bookings__trash {
    background-color: red;
    color: white;
}