@font-face {
    font-family: 'Lato';
    src: url('../media/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../media/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../media/fonts/Roboto-Medium.ttf');
}