body {
    background-color: #222;
}

/*

1. Intro
2. About
3. Features
4. Subscribe

*/

/* Intro */
.intro {
    position: relative;
    height: 111vh;
    background: #111 url("../media/images/samolety-krasivye-kartinki-49.jpg") 50% 50% no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
}

.intro__title {
    padding: 25px 50px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -100%);
    font-size: 8em;
    color: white;
    background-color: #222222ee;
}

.intro__see-more {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(90deg);
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #222;
    font-family: 'Lato', 'Roboto', sans-serif;
}

/* About */
.about {
    padding: 150px 0;
    background-color: #222;
    color: white;
}

.about .container {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

.about__text {
    font-size: 1.4em;
    text-align: justify;
    text-indent: 2em;
    word-spacing: .1em;
    line-height: 1.5em;
}

.about__image {
    width: 40vw;
    max-width: 1000px;
    object-fit: cover;
    transition: .5s;
}

.about__image:hover {
    transform: scale(1.03);
}

/* Search */
.search {
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111 url("../media/images/gory-sneg-nebo-sinie-holod.jpg") center no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    clip-path: polygon(0 10%, 0 100%, 100% 90%, 100% 0);
}

.search__form {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
}

.search__form input {
    align-items: stretch;
    justify-items: stretch;
    width: 100%;
    padding: 15px;
    font-size: 1.3em;
    border: 3px solid #111111;
    background-color: #111;
    color: white;

}

.search__submit {
    margin-top: 25px;
    cursor: pointer;
    background-color: #fff !important;
    color: #111111 !important;
}

.search__submit:hover {
    background-color: #111 !important;
    color: white !important;
}

/* Features */
.features {
    margin-top: -40px;
    padding: 200px 0 250px 0;
    background-color: white;
}

.features__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 400px));
    grid-gap: 25px;
}

.feature {
    background-color: #111;
    color: white;
    transition: .5s;
}

.feature:hover {
    transform: scale(1.05);

}

.feature__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.feature__name {
    padding: 15px;
    font-size: 2em;
}

.feature__text {
    padding: 10px 15px;
    font-size: 1.2em;
}

.feature__more {
    width: 100%;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 1.3em;
    outline: none;
    border: none;
    background-color: #111;
    color: white;
}

.feature__more:hover {
    background-color: #222;
}

/* Subscribe */
.subscribe {
    margin-top: -50px;
    padding: 250px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111 url("../media/images/1476179324-31.jpg") 50% 70% no-repeat;
    background-blend-mode: overlay;
    clip-path: polygon(0 10%, 0 100%, 100% 100%, 100% 0);
}

.subscribe__form input {
    padding: 20px 40px;
    font-size: 1.3em;
    outline: none;
    border: 3px solid #111;
    background-color: #111;
    color: white;
}

.subscribe__submit {
    background-color: transparent;
    color: #111;
    transition: .5s;
    cursor: pointer;
}

.subscribe__submit:hover {
    background-color: #111;
    color: white;
}

@media screen and (max-width: 1360px) {
    .features__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1090px) {
    .features__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .about .container {
        grid-template-columns: 1fr;
        justify-items: center;
        align-items: center;
    }

    .about__image {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .features__list {
        grid-template-columns: repeat(1, 1fr);
    }
    .intro__title {
        font-size: 6em;
    }
}

@media screen  and (max-width: 600px) {
    .search__form {
       grid-template-columns: 1fr;
    }
    .subscribe__form input {
        width: 100%;
        margin-top: 10px;
    }
}